
span.error {
    color: red;
}

input.error {
    background-color: red;
}

password.error {
    background-color: red;
}

email.error {
    background-color: red;
}

label.error {
    color: red;
}

div.errors {
    background-color: #ffcccc;
    border: 2px solid red;
}

div.wrap {
    text-align: center;
}

div.outer {
    margin: 5% 10% 2% 10%;
}

body.mobile div.outer {
    margin: 4% 2% 2% 2%;
}

div.inner {
    margin: 0% 14%;
    padding: 2% 8% 4% 8%;
}

div.background {
    background: url(/images/background.jpg) no-repeat;
}
